:root {
  --vp-c-brand-darker: #265f99;
  --vp-c-brand-1: #409eff;
  --vp-button-brand-bg: #409eff;
}

body {
  color: var(--vp-c-text-1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--vp-c-text-1);
}
